.danger{
    color: red
}
header{
    background-color: #95a5a6;
    height: 80px;
}

.boxCaterorie{
    background-color: #e67e22;
    
}

.imgLogo{
    margin-left: 20%;
    height: 77px;
}
table{
    grid: auto-flow / 1fr 1fr 1fr;
    padding: 20px;
    text-align: left;
    width: 500px;
    margin-top: 10%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: #ecf0f1;
}
.contentTableProduct{
    width: 1000px;
    margin: auto;
}